[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/split"]
	path = themes/split
	url = https://github.com/escalate/hugo-split-theme.git
[submodule "paige"]
	path = paige
	url = https://github.com/willfaught/paige
