{{ $page := . }}

<footer id="paige-footer">
    <div class="container mx-0 ps-0 pe-4 mw-100">
        <div class="row">
            <div class="d-flex justify-content-between">
                <div class="flex-item footer-skyline align-self-end">
                    <img src="/footer.svg" class="mw-100 mh-100" alt="boston skyline"/>
                </div>
                <div class="flex-item align-self-end">
                    <p class="mb-0 text-center footer-text px-4">
                        &copy; <script>document.write(/\d{4}/.exec(Date())[0])</script> Symula Media Group, LLC
                    </p>
                </div>
                
                {{ if templates.Exists "partials/footer-last.html" }}
                {{ partial "paige/footer-last.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
</footer>
