{{ $page := . }}

{{ if or $page.Ancestors site.Menus.main }}
    <header class="my-3" id="paige-header">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="flex-item">
                    <img src="/logo_full.svg" alt="Symula Media Group" class="header-logo align-self-start" />
                </div>
                <div class="flex-item">
                    {{ partial "paige/menu.html" $page }}
                </div>
            </div>
        </div>
    </header>
{{ end }}
