{{ $page := . }}

{{ if fileExists "static/favicon.svg" }}
    <link href="{{ relLangURL `favicon.svg` | safeURL }}" rel="icon" type="image/svg+xml">
{{ end }}

{{ if fileExists "assets/site.webmanifest" }}
    <link href="{{ (resources.Get `site.webmanifest` | resources.ExecuteAsTemplate `site.webmanifest` .).RelPermalink | safeURL }}" rel="manifest">
{{ end }}

{{ partial "paige/link.html" (dict "href" "css/paige/bootstrap/paige.scss" "page" $page "sass" true "template" true) }}
{{ partial "paige/link.html" (dict "href" "css/paige/bootstrap-icons/bootstrap-icons.css" "page" $page) }}

{{ if $page.Param "paige.math" }}
    {{ partial "paige/link.html" (dict "href" "css/paige/katex/katex.min.css") }}
{{ end }}

{{ if .AlternativeOutputFormats }}
    {{ $title := partial "paige/title.html" $page }}
    {{ range .AlternativeOutputFormats }}
        <link href="{{ .Permalink | safeURL }}" rel="{{ .Rel }}" title="{{ $title }}" type="{{ .MediaType.Type }}">
    {{ end }}
{{ end }}
