@import "bootstrap/functions";

$enable-dark-mode: false;
// Customize color palette
$primary: #207178;
$secondary: #174c4f;
$success: shade-color(#206840, 25%);
$warning: shade-color(#fcd54a, 25%);
$error: shade-color(#f58b64, 25%);
$light: #9fc7c9;
$dark: #515456;

$navbar-light-color: $light;
$navbar-light-active-color: $secondary;
$navbar-light-hover-color: shade-color($light, 25%);
$nav-pills-link-active-color: $dark;
$nav-pills-link-active-bg: $light;

$enable-shadows: true;

.pswp--custom-icon-colors {
  --pswp-icon-color: var(--bs-primary);
  --pswp-icon-color-secondary: var(--bs-secondary);
}

.simple-gallery {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

.simple-gallery img {
 /* Just in case there are inline attributes */
 width: 100% !important;
 height: auto !important;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,400;1,100&family=Lobster&family=Montserrat:wght@500&display=swap');
$font-family-base: 'Montserrat', sans-serif; //, "Bebas Neue";
$headings-font-family: 'Josefin Sans', sans-serif;
p.lead {
  font-family: 'Josefin Sans', sans-serif;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@import "bootstrap/bootstrap";

// 8. Add additional custom code here
$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);
.picture2 {
  display: none;
}
.imgswitch:hover .picture1{
  display: none;
}
.imgswitch:hover .picture2{
  display: block;
}

.fancy-border {
  font-size: 1.6rem;
	place-items: center;
	min-height: 200px;
	border: 8px solid;
	padding: 1rem;
}

.gradient-border {
	border-image: linear-gradient(45deg, $primary, goldenrod) 1;
}

.gradient-border-horizontal {
	border-image: linear-gradient(to left, $primary, goldenrod) 1 0;
}
.gradient-border-vertical {
	border-image: linear-gradient(to bottom, $primary, goldenrod) 0 1;
}

.pseudo-partial-border {
  position: relative;
  padding: 7px;
  margin: 25px;
  border: none;
  text-align: center;
}

.pseudo-partial-border::before,
.pseudo-partial-border::after {
  position: absolute;
  width: 33px;
  height: 20px;
  content: "";
}

.pseudo-partial-border::before {
  left: 0;
  top: 0;
  border-left: 8px solid;
  border-top: 8px solid;
 }

.pseudo-partial-border::after {
  right: 0;
  bottom: 0;
  border-right: 8px solid;
  border-bottom: 8px solid;
 }

table.text-primary th, table.text-primary td {
  color: $primary;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
}
@import "styles.css";
@import "photoswipe/dist/photoswipe";

