<footer class="footer text-bg-dark py-4">
	<div class="container-sm">
		<div class="row justify-content-center text-center">
			<div class="col-2">
				<a href="https://www.instagram.com/symulamediagroup" target="_blank">
					<i style="font-size: 3rem;" class="text-light col-2 bi bi-instagram"></i>
				</a>
			</div>
			<div class="col-2">
				<a href="mailto:jenn@symulamedia.com" target="_blank">
					<i style="font-size: 3rem;" class="text-light col-2 bi bi-envelope"></i>
				</a>
			</div>
			<div class="col-2">
				<a href="https://www.linkedin.com/company/symulamediagroup" target="_blank">
					<i style="font-size: 3rem;" class="text-light col-2 bi bi-linkedin"></i>
				</a>
			</div>
		</div>
		<div class="row footer-text justify-content-center text-light">
			<div class="col-12 text-center my-2">
				&copy; <script>document.write(/\d{4}/.exec(Date())[0])</script>&nbsp;Symula Media Group. 
				| Design by <a class="text-light" href="https://www.linkedin.com/in/michael-difronzo-b97b30139/" target="_blank">Michael DiFronzo</a>
			</div>
		</div>
	</div>
</footer>
